<h2 class="mb-4">Dashboard</h2>
<div class="card">
  <div class="card-header">
    Welcome
  </div>
  <div class="card-body">
    <p class="card-text">
      You are currently logged in as <b><%= current_user.email%></b>.
    </p>
  </div>
</div>